.App{
  text-align: center;
}

.mydiv{
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px grey;
  padding: 20px;
  font-size: 18px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
  height: 30%;
  margin: 5px;
}